.time {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: var(--bg-color);
    padding: 10rem 8rem;
    position: relative;
    overflow: hidden;
}

.time h2 {
    font-family: var(--sacramento);
    font-size: var(--fontSize-heading-base);
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.time>p {
    margin-bottom: 0.8rem;
}

.time div:nth-of-type(1) {
    margin-top: 1rem;
}

.time div:nth-of-type(1) div h3 {
    font-family: var(--sacramento);
    font-size: var(--fontSize-heading-lg);
    font-weight: 400;
    margin-bottom: 0.4rem;
}

.time div:nth-of-type(1) div:nth-of-type(2) {
    margin-top: 1rem;
}

.time .location-container h3 {
    font-family: var(--sacramento);
    font-size: var(--fontSize-heading-lg);
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
}

.time .location-container p {
    white-space: pre-wrap;
}



.time a {
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1rem;
    background-color: #000;
    margin: 2rem auto 1rem;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.time a i {
    font-size: 1.2rem;
}

.time>i {
    right: 2rem;
    top: 22rem;
    z-index: 10;
}

.peta-acara {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
}

.time svg {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 1;
}

.time svg:nth-of-type(1) {
    top: -5px;
    /* Increased overlap to hide potential lines */
}

.time svg:nth-of-type(2) {
    bottom: -5px;
    /* Increased overlap to hide potential lines */
}

/* Ensure content is above the waves */
.time h2,
.time p,
.time div,
.time a {
    position: relative;
    z-index: 2;
}